@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    user-select: none;
    background-color: #5fb0cb;
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-name{
    text-align: center;
    margin: 1rem .25rem .25rem .25rem;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
}

.app-search-box {
    display: flex;
    gap: .5em;
    align-items: center;
    margin: 2rem auto;
    margin-bottom: 1rem;
    width: 30%;
    justify-content: center;
}

.app-notes-container {
    margin: 0rem auto;
    width: 30%;
}

.add-btn {
    border-radius: 5px;
    padding: .5em;
    width: 5%;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 370px) {
    .app-note-item {
        flex-direction: column;
    }
    .app-note-item-priority {
        flex: 1;
    }
}

@media screen and (max-width: 960px) {
    .app-notes-container{
        width: 80%;
    }
    .app-search-box{
        width: 80%;
    }
    .add-btn{
        width: 40%;
    }
}

.app-note-item{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    gap: .5em;
}

.app-note-operations{
    display: flex;
    gap: .5em;
    align-items: center;
}

.app-search-input{
    flex-grow: 1;
    font-family: 'Inter', sans-serif;
    padding: .5em;
}

.app-note-priority select {
    padding: .5em;
}

.operation-btn {
    padding: .5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.logout-btn {
    padding: .5em;
    border-radius: 5px;
    border: 1px solid black;
    width: 130px;
    margin: 4em 0px;
    font-size: 1em;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: black;
    color: white;
    transition-duration: .2s;
}