body{
    margin: 0;
    padding: 0;
}

.app{
    height: 100vh;
    background-color: #5fb0cb;
    display: flex;
    flex-direction: column;
}

.app-name{
    text-align: center;
    margin: 1em;
}

.app-search-box {
    display: flex;
    gap: .5em;
    align-items: center;
    margin: 1rem;
}

.app-search-input{
    flex-grow: 1;
}